<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSARCH 2_GRP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">

    <!-- Import Tailwind CSS Library -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Edit Tailwind Config -->
    <script>
        tailwind.config = {
            theme: {
                extend : {
                    colors: {
                        'dark-blue': "#1E2640",
                        'champagne': '#F3EAC0',
                        'desert': '#DC9750',
                        'rose': '#922C40'
                    }
                }
            }
        }
    </script>
</head>
<body class="main bg-champagne">
    <div class="flex flex-col gap-y-5 bg-white shadow-xl rounded-xl p-10">
        <div class="title">
            <h1 class="text-3xl font-bold">Decimal to Single-Precision Floating Point Converter</h1>
        </div>
        <!--
        <form action="#" method="POST" class="flex flex-col gap-y-2">
            {{ form.hidden_tag() }}

            {{ form.rounding.label }}
            {{ form.rounding(class='border-2 rounded-lg p-3')}}<br>
            {{ form.decimal_field.label }}
            {{ form.decimal_field(size=32, step="any", class='border-2 rounded-lg p-2') }}<br>
            {{ form.exponent.label }}
            {{ form.exponent(size=32, step="any", class='border-2 rounded-lg p-2') }}<br>
            <div class="text-center border-champagne shadow-lg rounded-lg hover:bg-dark-blue hover:text-white">

                {{ form.submit() }}
            </div>
        </form>
    -->
    <form action="#" method="POST">
        {{ form.hidden_tag() }}
        <legend>
            {{ form.rounding.label }}
        </legend>
        {% for choice in form.rounding %}
            <label>{{ choice.label }} {{ choice }}</label><br>
        {% endfor %}
        {{ form.decimal_field.label }}
        {{ form.decimal_field(size=32, step="any", class='border-2 rounded-lg p-2') }}<br>
        {{ form.exponent.label }}
        {{ form.exponent(size=32, step="any", class='border-2 rounded-lg p-2')}}<br>

            {{ form.submit(class='border-2 rounded-lg p-2') }}
    </form>
        <div>
            <h1 class="text-2xl font-bold"> Result </h2>
            <div>
                CONVERTED NUMBER: {{ binary_conversion }}
            </div>
            <div>
                HEX VERSION: {{hex}}
            </div>
            <!--  TODO: INSERT Export Feature -->
        </div>
    </div>
</body>
</html>