<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSARCH 2_GRP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
</head>
<body class="main">
    <div class="title">
        DECIMAL-32 CONVERTER
    </div>
    <div>
        <form action="#" method="POST">
            {{ form.hidden_tag() }}
            <legend>
                {{ form.rounding.label }}
            </legend>
            {% for choice in form.rounding %}
                <label>{{ choice.label }} {{ choice }}</label><br>
            {% endfor %}
            {{ form.decimal_field.label }}
            {{ form.decimal_field(size=32, step="any") }}<br>
            {{ form.exponent.label }}
            {{ form.exponent(size=32, step="any")}}<br>
            {{ form.submit() }}
        </form>
    </div>
    NUMBER POSTED: {{ number }}
        <!-- Form that accepts -->
</body>
</html>